<ion-header>
  <ion-navbar> <ion-title> 请假申请 </ion-title> </ion-navbar>
</ion-header>

<ion-content class="rest-apply-body">
  <div class="block-view">
    <ion-item>
      <ion-label class="left">请假类型</ion-label>
      <button
        style="background: none;"
        item-end
        class="right"
        (click)="selectRestType()"
      >
        {{ applyData.qjyy }}
      </button>
    </ion-item>
    <ion-item>
      <ion-label class="left">开始时间</ion-label>
      <ion-datetime
        class="right"
        placeholder="请选择"
        displayFormat="YYYY-MM-DD HH:mm"
        [(ngModel)]="applyData.qssj"
        cancelText="取消"
        doneText="确定"
        (ngModelChange) = "changeDate($event)"
        >{{ applyData.qssj }}</ion-datetime
      >
    </ion-item>
    <ion-item>
      <ion-label class="left">结束时间</ion-label>
      <ion-datetime
        class="right"
        placeholder="请选择"
        displayFormat="YYYY-MM-DD HH:mm"
        [(ngModel)]="applyData.jssj"
        cancelText="取消"
        doneText="确定"
        (ngModelChange) = "changeDate($event)"
        >{{ applyData.jssj }}</ion-datetime
      >
    </ion-item>
    <ion-item>
      <ion-label class="left">时长(小时)</ion-label>
      <ion-input
        class="right"
        item-end
        placeholder="请输入"
        type="number"
        [(ngModel)]="applyData.qjsc"
        >{{ applyData.qjsc }}</ion-input
      >
    </ion-item>
  </div>

  <div class="block-view">
    <div class="title-view">
      <p class="left title"></p>
      <ion-textarea
        placeholder="请输入请假事由"
        rows="10"
        [(ngModel)]="applyData.qjsy"
      >
      </ion-textarea>
    </div>
  </div>

  <div class="block-view">
    <ion-item no-lines>
      <ion-label class="left-title">图片</ion-label>
      <app-file-uploader
        item-end
        (onChange)="changeFileName($event)"
      ></app-file-uploader>
    </ion-item>
    <ion-row>
      <ion-col class="reason-img" *ngFor="let image of photos; let i = index">
        <button class="delete-button" (click)="deletePhoto(i)">
          <ion-icon name="close"></ion-icon>
        </button>
        <img
          onerror="this.src='assets/imgs/image-faild.png'"
          src="{{ image }}"
        />
      </ion-col>
    </ion-row>
  </div>

  <div class="appoval-person-list">
    <ion-item no-lines>
      <ion-label class="left-title"> 审批人： </ion-label>
      <button item-end (click)="getApprovalPerson()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-item>
    <ion-row padding-horizontal>
      <ion-col class="approval-person" *ngFor="let item of spr; let i = index">
        <button class="close-button" (click)="deleteSpr(i)">
          <ion-icon name="close"></ion-icon>
        </button>
        <img
          class="person-image"
          src="{{ item.image }}"
          onerror="this.src='assets/imgs/image-default.png'"
        />
        <p>{{ item.zgName }}</p>
        <!-- <p>{{ item.date }}</p> -->
        <ion-icon
          name="arrow-round-forward"
          class="arrow-right"
          [ngClass]="item.last"
          [hidden]="i == spr.length - 1"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <div class="appoval-person-list end">
    <ion-item no-lines>
      <ion-label class="left-title"> 抄送人： </ion-label>
      <button item-end (click)="getCopyToPerson()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-item>
    <ion-row padding-horizontal>
      <ion-col class="approval-person" *ngFor="let item of csr; let i = index">
        <button class="close-button" (click)="deleteCsr(i)">
          <ion-icon name="close"></ion-icon>
        </button>
        <img
          class="person-image"
          src="{{ item.image }}"
          onerror="this.src='assets/imgs/image-default.png'"
        />
        <p>{{ item.zgName }}</p>
        <!-- <p>{{ item.date }}</p> -->
        <ion-icon
          name="arrow-round-forward"
          class="arrow-right"
          [ngClass]="item.last"
          [hidden]="i == csr.length - 1"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<div>
  <div class="bottom-view">
    <button button ion-button (click)="resetApply()" class="center-button">
      申请
    </button>
  </div>
</div>
