<ion-header>
  <ion-navbar> <ion-title> 审批详情 </ion-title> </ion-navbar>
</ion-header>

<ion-content class="approval-detail-body">
  <div *ngIf="params.billType == 3">
    <div class="block-view">
      <div class="info-cell">
        <p class="left">请假类型</p>
        <p class="right">{{ restDetail.qjsq.qjlxName }}</p>
      </div>
      <div class="info-cell">
        <p class="left">开始时间</p>
        <p class="right">{{ restDetail.qjsq.qssj }}</p>
      </div>
      <div class="info-cell">
        <p class="left">结束时间</p>
        <p class="right">{{ restDetail.qjsq.jssj }}</p>
      </div>
      <div class="info-cell">
        <p class="left">时长</p>
        <p class="right">{{ restDetail.qjsq.qjsc }}</p>
      </div>
    </div>

    <div class="block-view">
      <div class="title-view">
        <p class="left title">事由</p>
        <p class="right">{{ restDetail.qjsq.qjsy }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="params.billType == 1">
    <div class="block-view">
      <!-- <ion-item>
        <ion-label class="left">采购类型</ion-label>
        <ion-label item-end class="right">{{ buyDetail.cgsq.cglx }}</ion-label>
      </ion-item> -->
      <ion-item>
        <ion-label class="left">预购时间</ion-label>
        <ion-label item-end class="right">{{ buyDetail.cgsq.cgsj }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="left">申请事由</ion-label>
        <ion-label item-end class="right">{{ buyDetail.cgsq.sqsy }}</ion-label>
      </ion-item>
    </div>

    <div class="block-view" *ngFor="let item of buyDetail.cgqds">
      <ion-item>
        <ion-label class="left">物资</ion-label>
        <ion-label item-end class="right">{{ item.goodsItem.name }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="left">规格</ion-label>
        <ion-label item-end class="right">{{ item.gg }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="left">单价</ion-label>
        <ion-label item-end class="right">{{ item.dj }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="left">数量</ion-label>
        <ion-label item-end class="right">{{ item.sl }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="left">总价</ion-label>
        <ion-label item-end class="right">{{ item.zj }}</ion-label>
      </ion-item>
    </div>
  </div>

  <div *ngIf="params.billType == 4">
    <div class="block-view">
      <ion-item>
        <ion-label class="left">申请时间</ion-label>
        <ion-label item-end class="right">{{
          levelDetail.lzsq.sqsj
        }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="left">离职时间</ion-label>
        <ion-label item-end class="right">{{
          levelDetail.lzsq.yjlzsj
        }}</ion-label>
      </ion-item>
    </div>
    <div class="block-view">
      <div class="title-view">
        <p class="left title">事由</p>
        <p class="right">{{levelDetail.lzsq.lzyy}}</p>
      </div>
    </div>
  </div>

  <div *ngIf="params.billType == 2">
    <div class="block-view">
      <!-- <ion-item>
        <ion-label class="left">领用类型</ion-label>
        <ion-label item-end class="right">{{
          goodDetail.lysqb.billTypeName
        }}</ion-label>
      </ion-item> -->
      <ion-item>
        <ion-label class="left">领用时间</ion-label>
        <ion-label item-end class="right">{{
          goodDetail.lysqb.lysj
        }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="left">物品用途</ion-label>
        <ion-label item-end class="right">{{
          goodDetail.lysqb.wpyt
        }}</ion-label>
      </ion-item>
    </div>

    <div class="block-view" *ngFor="let item of goodDetail.lymxs">
      <ion-item>
        <ion-label class="left">物资</ion-label>
        <ion-label item-end class="right">{{ item.wpmc }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="left">规格</ion-label>
          <ion-label item-end class="right">{{ item.model }}</ion-label>
        </ion-item>
      <ion-item>
        <ion-label class="left">数量</ion-label>
        <ion-label item-end class="right">{{ item.sl }}</ion-label>
      </ion-item>
    </div>
  </div>

  <div *ngIf="params.billType == 5">
    <div class="block-view">
      <ion-item>
        <ion-label class="left">报修类型</ion-label>
        <ion-label item-end class="right">{{
          orderDetail.gdsq.bxlx
        }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="left">物品用途</ion-label>
        <ion-label item-end class="right">{{
          orderDetail.gdsq.sqly
        }}</ion-label>
      </ion-item>
    </div>

    <div class="block-view" *ngFor="let item of orderDetail.bxqds">
      <ion-item>
        <ion-label class="left">项目名称</ion-label>
        <ion-label item-end class="right">{{ item.xmmx }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="left">项目描述</ion-label>
        <ion-label item-end class="right">{{ item.xxms }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="left">供应商</ion-label>
        <ion-label item-end class="right">{{ item.gys }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="left">维修电话</ion-label>
        <ion-label item-end class="right">{{ item.lxdh }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="left">预计金额</ion-label>
        <ion-label item-end class="right">{{ item.yjje }}</ion-label>
      </ion-item>
    </div>

    <div class="block-view">
      <ion-item>
        <ion-label class="left">维修人</ion-label>
        <ion-label item-end class="right">{{ orderDetail.gdsq.wxr }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="left">维修日期</ion-label>
        <ion-label item-end class="right">{{
          orderDetail.gdsq.bxsj
        }}</ion-label>
      </ion-item>
    </div>
  </div>

  <!-- <div class="block-view">
    <div class="title-view">
      <p class="left title">图片</p>
      <ion-row>
        <ion-col class="reason-img" *ngFor="let item of picture">
          <img class="header-image" src="{{item}}" />
        </ion-col>
      </ion-row>
    </div>
  </div> -->
  <div class="appoval-person-list">
    <p>审批人：</p>
    <ion-row padding-horizontal>
      <ion-col class="approval-person" *ngFor="let item of spr; let i = index">
        <img
          class="person-image"
          src="{{ item.image }}"
          onerror="this.src='assets/imgs/image-default.png'"
        />
        <p>{{ item.zgName }}</p>
        <ion-icon
          [hidden]="i == spr.length - 1"
          name="arrow-round-forward"
          class="arrow-right"
          [ngClass]="item.last"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <div class="appoval-person-list end">
    <p>抄送人：</p>
    <ion-row padding-horizontal>
      <ion-col class="approval-person" *ngFor="let item of csr; let i = index">
        <img
          class="person-image"
          src="{{ item.image }}"
          onerror="this.src='assets/imgs/image-default.png'"
        />
        <p>{{ item.zgName }}</p>
        <!-- <p>{{item.zgxm}}</p> 缺乏审批时间 和 审核状态字段 -->
        <ion-icon
          name="arrow-round-forward"
          class="arrow-right"
          [hidden]="i == csr.length - 1"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<div>
  <div class="bottom-view" *ngIf="type === 1 && params.approvalStatus === 0">
    <button button ion-button (click)="approvalClick()" class="bottom-button">
      通过
    </button>
    <button
      button
      ion-button
      (click)="disApprovalClick()"
      class="bottom-button"
    >
      不通过
    </button>
  </div>
  <div class="bottom-view" *ngIf="type === 2">
    <button button ion-button (click)="withDrow()" class="center-button">
      撤回
    </button>
  </div>
</div>
