
@import "../../../../theme/variables.scss";

.checkIn-body {
    .current-date {
        position: absolute;
        right: 16px;
        top: 13px;
    }
    .checkIn-time-line {
        margin: 16px 16px;
        // padding: 0px 16px;
        border-left: 1px solid #eaeaea;
    }

    .left-margin-16 {
        margin-left: 16px;
        color: #999999;
    }

    .blod-title {
        font-size: 16px;
        font-weight: bold;
        color: #333333;
    }
    .on-office {
        margin-bottom: 40px;
    }

    .checkIn-area {
        margin: 32px 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .checkIn-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        background: #1ddff5;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        font-size: 18px;
        font-weight: bold;
    }
    .checkIn-tip {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .check-status {
        margin: 0px 8px;
    }

    .reload-button {
        color:  $color-primary;
    }
    .start-top  {
      background: #666666;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      position: absolute;
      left: 11px;
    }

    .end-bottom  {
      background: #1ddff5;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      position: absolute;
      left: 11px;
    }
}
