<ion-header>
  <ion-navbar>
    <ion-title center>
      日程详情({{schedule.title}})
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="schedule-detail-page" color="background">
  <div class="schedule-setting-area">
    <p>{{schedule.startDateString}}</p>
    <div class="detail">
      <span>内容：</span>
      <pre>{{schedule.content || '无内容'}}</pre>
    </div>


    <div class="detail">
      <span>备注：</span>
      <pre>{{schedule.remark || '无内容'}}</pre>
    </div>
  </div>


  <div class="schedule-setting-area">
    <div class="box-title-nav">
      <span class="left">提醒时间</span>
      <span class="right">
        <span *ngIf="schedule.remindTime && schedule.remindTime>0">提前 {{schedule.remindTime}} 分钟 </span>
        <span *ngIf="!schedule.remindTime || schedule.remindTime<=0">无</span>
      </span>
    </div>
    <div class="box-title-nav">
      <span class="left">提醒频次</span>
      <span class="right">
        <span *ngIf="schedule.remindFrequency && schedule.remindFrequency>0">每 {{schedule.remindFrequency}} 分钟 </span>
        <span *ngIf="!schedule.remindFrequency || schedule.remindFrequency<=0">无</span>
      </span>
    </div>
    <div class="box-title-nav">
      <span class="left">日程时间</span>
      <span class="right">
        <span>{{schedule.startTimeString}}</span>
      </span>
    </div>
  </div>


  <ion-row justify-content-center class="bottom-area">
      <button ion-button color="primary" default block (click)="completeSchedule()">{{this.schedule.isComplete === 0 ? '标记完成': '已完成'}}</button>
    </ion-row>

</ion-content>
