@import "../../../../theme/variables.scss";

.schedule-detail-page {
    background: $color-light;

    .schedule-setting-area{
        background: #fff;
        margin-bottom: 20px;
        ion-item{
            .item-inner{
                border: none;
            }

            ion-input input{
                text-align: right;
                &:focus{
                    outline: none;
                    border:none;
                }
            }

            ion-textarea{
                height: 100px;
                
            }
        }

        p{
            padding: 10px 16px;
            line-height: 20px;
            &.remark{
                padding: 0;
                margin: 14px 0;
                display: block;
                width: 100%;
                height: 60px;
            }
        }
        .detail{
            padding: 10px 16px;
        }
    }
}
