
@import "../../../../theme/variables.scss";

.chart-detail-list-page{
    background: $color-background;
    .chart-summary{
        padding: 0 16px;
        background: #f6f6f6;
        text-align: left;
        color: $color-text;
        

        line-height: 30px;
    }

    .class-student-list{
        
        .class-student-header{
            background: #efedf5;
            height: 35px;
            line-height: 35px;
            color: $color-text;
            text-align: left;
            padding: 0 16px;
        }
        .class-student-body{
            background: #fff;
            color: $color-text;

            ion-item{
                &:nth-last-child(1){
                    .item-inner{
                        border: none;
                    }
                }

                span{
                    display: inline-block;
                    float: left;
                    line-height: 30px;  
                    &.right{
                        float: right;
                        text-align: right;
                    }
                }
                img{
                    display: inline-block;
                    float: left;
                    margin-right: 10px;
                    width: 30px;
                    height: 30px;
                    border-radius: 15px;
                }
            }

        }
    }
}