<ion-header>
  <ion-navbar>
    <ion-title> 院长信箱 </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="editEmail()">
        <ion-icon item-end name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="principal-email-body">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉刷新"
      refreshingSpinner="circles"
      refreshingText="加载中......"
    >
    </ion-refresher-content>
  </ion-refresher> -->
  <ion-list>
    <div *ngIf="isLeader == 1">
      <ion-list-header>
        <ion-segment [(ngModel)]="isRead">
          <ion-segment-button
            class="segment-button-one"
            [ngClass]="isRead"
            value="false"
          >
            未查阅
          </ion-segment-button>
          <ion-segment-button
            class="segment-button-two"
            [ngClass]="isRead"
            value="true"
          >
            已查阅
          </ion-segment-button>
        </ion-segment>
      </ion-list-header>
      <div *ngIf="isRead === 'false'">
        <ion-item *ngFor="let item of unReadList" (click)="clickItem(item)">
          <ion-avatar item-start>
            <img
              src="{{ item.image }}"
              onerror="this.src='assets/imgs/image-default.png'"
            />
          </ion-avatar>
          <h2>{{ item.senderName }}</h2>
          <p>{{ item.title }}</p>
        </ion-item>
      </div>
      <div *ngIf="isRead === 'true'">
        <ion-item *ngFor="let item of readList" (click)="clickItem(item)">
          <ion-avatar item-start>
            <img
              src="{{ item.image }}"
              onerror="this.src='assets/imgs/image-default.png'"
            />
          </ion-avatar>
          <h2>{{ item.senderName }}</h2>
          <p>{{ item.title }}</p>
        </ion-item>
      </div>
    </div>

    <div *ngIf="isLeader == 0">
      <ion-item *ngFor="let item of allList" (click)="clickItem(item)">
        <ion-avatar item-start>
          <img
            src="{{ item.image }}"
            onerror="this.src='assets/imgs/image-default.png'"
          />
        </ion-avatar>
        <h2>{{ item.senderName }}</h2>
        <p>{{ item.title }}</p>
      </ion-item>
    </div>
  </ion-list>

  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载更多..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
