<ion-header>
  <ion-navbar> <ion-title> 工单申请 </ion-title> </ion-navbar>
</ion-header>

<ion-content class="workorder-apply-body">
  <div class="block-view">
    <ion-item>
      <ion-label class="left">报修类型</ion-label>
      <ion-input
        class="right"
        [(ngModel)]="applyData.bxlx"
        item-end
        placeholder="请输入"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="left">物品用途</ion-label>
      <ion-input
        class="right"
        [(ngModel)]="applyData.sqly"
        item-end
        placeholder="请输入"
      ></ion-input>
    </ion-item>
  </div>

  <div class="block-view" *ngFor="let item of applyData.bxqds; let i = index">
    <div class="header">
      <button class="delete-button" (click)="deleteGood(i)">
        <ion-icon name="close"></ion-icon>
      </button>
    </div>
    <ion-item>
      <ion-label class="left">项目名称</ion-label>
      <ion-input
        class="right"
        [(ngModel)]="item.xmmx"
        item-end
        placeholder="请输入"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="left">项目描述</ion-label>
      <ion-input
        class="right"
        [(ngModel)]="item.xxms"
        item-end
        placeholder="请输入"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="left">供应商</ion-label>
      <ion-input
        class="right"
        [(ngModel)]="item.gys"
        item-end
        placeholder="请输入"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="left">维修电话</ion-label>
      <ion-input
        class="right"
        [(ngModel)]="item.lxdh"
        item-end
        placeholder="请输入"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="left">预计金额</ion-label>
      <ion-input
        class="right"
        [(ngModel)]="item.yjje"
        item-end
        placeholder="请输入"
        type="number"
      ></ion-input>
    </ion-item>
  </div>
  <button class="center-button" (click)="addMoreOrder()">+添加明细</button>

  <div class="block-view">
    <ion-item>
      <ion-label class="left">维修人员</ion-label>
      <ion-input
        class="right"
        [(ngModel)]="applyData.wxr"
        item-end
        placeholder="请输入"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="left">维修日期</ion-label>
      <ion-datetime
        class="right"
        placeholder="请选择"
        displayFormat="YYYY-MM-DD HH:mm"
        [(ngModel)]="applyData.bxsj"
        cancelText="取消"
        doneText="确定"
        >{{ applyData.bxsj }}</ion-datetime
      >
    </ion-item>
  </div>

  <!-- <div class="block-view">
    <ion-item no-lines>
      <ion-label class="left-title">图片</ion-label>
      <app-file-uploader
        item-end
        (onChange)="changeFileName($event)"
      ></app-file-uploader>
    </ion-item>
    <ion-row>
      <ion-col class="reason-img" *ngFor="let image of photos; let i = index">
        <button class="delete-button" (click)="deletePhoto(i)">
          <ion-icon name="close"></ion-icon>
        </button>
        <img
          onerror="this.src='assets/imgs/image-faild.png'"
          src="{{ image }}"
        />
      </ion-col>
    </ion-row>
  </div> -->

  <div class="appoval-person-list">
    <ion-item no-lines>
      <ion-label class="left-title"> 审批人： </ion-label>
      <button item-end (click)="getApprovalPerson()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-item>
    <ion-row padding-horizontal>
      <ion-col class="approval-person" *ngFor="let item of spr; let i = index">
        <button class="close-button" (click)="deleteSpr(i)">
          <ion-icon name="close"></ion-icon>
        </button>
        <img
          class="person-image"
          src="{{ item.image }}"
          onerror="this.src='assets/imgs/image-default.png'"
        />
        <p>{{ item.zgName }}</p>
        <!-- <p>{{ item.date }}</p> -->
        <ion-icon
          name="arrow-round-forward"
          class="arrow-right"
          [ngClass]="item.last"
          [hidden]="i == spr.length - 1"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <div class="appoval-person-list end">
    <ion-item no-lines>
      <ion-label class="left-title"> 抄送人： </ion-label>
      <button item-end (click)="getCopyToPerson()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-item>
    <ion-row padding-horizontal>
      <ion-col class="approval-person" *ngFor="let item of csr; let i = index">
        <button class="close-button" (click)="deleteCsr(i)">
          <ion-icon name="close"></ion-icon>
        </button>
        <img
          class="person-image"
          src="{{ item.image }}"
          onerror="this.src='assets/imgs/image-default.png'"
        />
        <p>{{ item.zgName }}</p>
        <!-- <p>{{ item.date }}</p> -->
        <ion-icon
          name="arrow-round-forward"
          class="arrow-right"
          [ngClass]="item.last"
          [hidden]="i == csr.length - 1"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<div>
  <div class="bottom-view">
    <button
      button
      ion-button
      (click)="procurementApply()"
      class="center-button"
    >
      提交
    </button>
  </div>
</div>
