week-switch {

    .calendar-area{
        display: block;
        overflow: hidden;
        margin-top: 20px;
        background: #fff;
        
        height: 132px;
        padding: 0 16px;

       
        >p{
            display: inline-block;
            float: left;
            width: 100%;
            line-height: 30px;
            font-size: 20px;
        }

        .date-range-pick{
            display: block;
            overflow: hidden;
            width: 100%;
            height: 30px;
            ion-item{
                display: inline-block;
                float: left;
                width: 100%;
                height: 30px;
                margin: 0 auto;
                text-align: center;
                padding-left: 0 !important;
                border: none !important;
                .item-inner{
                    border: none;
                    height: 30px;
                    overflow: hidden;

                    .input-wrapper{
                        height: 30px !important;
                    }
                    ion-datetime{
                        padding: 0;
                        margin: 0 auto;
                    }
                }
            }
            span{
                display: inline-block;
                float: left;
                width: 10%;
                line-height: 50px;
                text-align: center;
            }
            >button{
                display: inline-block;
                float: left;
                width: 20%;
                height: 30px;
                margin-top: 10px;
            }
        }


        ion-row{
            color: $color-text;
            ion-col >span{
                margin-bottom: 10px;
            }
            span, strong{
                display: block;
                width: 100%;
                line-height: 20px;
                text-align: center;
                color: $color-text;
                &.status{
                    color: $color-primary;
                    font-weight: bolder;
                }
            }
            .current{
                
                >span,>strong{
                    color: $color-primary;
                }
            }

            .current.today{
                background: $color-primary;
                
                >span,>strong{
                    color: #fff;
                }
                border-radius: 25px;
            }

            strong{
                font-size: 20px;
                //todo 暂时去掉阴历 添加代码支持上下居中
                height: 40px;
                line-height: 36px;
            }
        }
    }
}
