<ion-header>
  <ion-navbar>
    <ion-title> 编辑邮件 </ion-title>
    <ion-buttons end>
      <button
        style="background: none;"
        (click)="sendAnnounceMent()"
        color="clear"
      >
        发送
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="edit-email-body">
  <ion-item>
    <p class="left-title">收件人</p>
    <button item-end (click)="addNewReciver()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-item>

  <div class="person-list" *ngIf="selectedPerson.zgxm">
    <p class="person-item">{{ selectedPerson.zgxm }}</p>
  </div>

  <ion-item>
    <ion-label class="left-title">邮件主题</ion-label>
    <ion-input
      type="text"
      placeholder="请输入通知主题"
      clearInput
      [(ngModel)]="emailData.title"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="left-title" stacked>内容</ion-label>
    <ion-textarea
      placeholder="请输入通知内容"
      rows="10"
      [(ngModel)]="emailData.content"
    >
    </ion-textarea>
  </ion-item>

  <div class="block-view">
    <ion-item no-lines>
      <ion-label class="left-title">图片</ion-label>
      <email-file-uploader
        item-end
        (onChange)="changeFileName($event)"
      ></email-file-uploader>
    </ion-item>
    <ion-row>
      <ion-col class="reason-img" *ngFor="let image of photos; let i = index">
        <button class="delete-button" (click)="deletePhoto(i)">
          <ion-icon name="close"></ion-icon>
        </button>
        <img
          onerror="this.src='assets/imgs/image-faild.png'"
          src="{{ image }}"
        />
      </ion-col>
    </ion-row>
  </div>
</ion-content>
