<ion-content class="page-home-view">

  <div class="header-back">
    <div>
      <ion-searchbar [(ngModel)]="searchText" [showCancelButton]="true" (ionInput)="onSearch($event)" (ionCancel)="onClearSearchText($event)">
      </ion-searchbar>
    </div>
  </div>

  <ion-row *ngIf="hasPermission('home/note')" class="message-view" justify-content-start align-items-center>
    <ion-col col-auto style="padding-right: 0">
      <img alt="花" style="width:24px;height:auto" src="assets/image/home/index/notice.png" />
    </ion-col>
    <ion-col style="overflow: hidden">
      <p class="message" [ngStyle]="{width:messageText.length*365/34+50+'px', 'animation-duration':messageText.length*0.11+3+'s'}" >{{messageText}}</p>
    </ion-col>
  </ion-row>
  <!-- 园情总览 -->
  <div class="detail-block">
    <div class="block-title">园情总览</div>

    <ion-row align-items-center>
      <div class="block-item" *ngIf="hasPermission('home/info/employee')" (click)="onSelectChart('chart1')">
        <ion-row class="item-image primary" justify-content-center align-items-center>
          <!-- <ion-icon name="contact" color="white"></ion-icon> -->
          <img alt="花" style="width:100%;height:100%;" src="assets/image/home/index/staff_ attendance.png" />
        </ion-row>
        <div class="item-text">职工出勤</div>
      </div>
      <div class="block-item" *ngIf="hasPermission('home/info/sick')" (click)="onSelectChart('chart2')">
        <ion-row class="item-image primary" justify-content-center align-items-center>
          <!-- <ion-icon name="contact" color="white"></ion-icon> -->
          <img alt="花" style="width:100%;height:100%;" src="assets/image/home/index/sickness.png" />
        </ion-row>
        <div class="item-text">疾病情况</div>
      </div>
      <div class="block-item" *ngIf="hasPermission('home/info/finance')" (click)="onSelectChart('chart3')">
        <ion-row class="item-image primary" justify-content-center align-items-center>
          <!-- <ion-icon name="contact" color="white"></ion-icon> -->
          <img alt="花" style="width:100%;height:100%;" src="assets/image/home/index/financial.png" />
        </ion-row>
        <div class="item-text">财务报表</div>
      </div>
    </ion-row>
  </div>
  <div class="chart-view" *ngIf="chartName==='chart1'">
    <div class="chart-item" [chart]="chart1"></div>
  </div>

  <div class="chart-view" *ngIf="chartName==='chart2'" (click)="goToPage('app-home-sickness-case')">
    <div class="chart-item" [chart]="chart2"></div>
  </div>

  <div class="chart-view" *ngIf="chartName==='chart3'" (click)="goToPage('app-home-financial-reporting')">
    <div class="chart-item" [chart]="chart3"></div>
  </div>


  <!-- 园长管理	 -->
  <div class="detail-block">
    <div class="block-title">园长管理</div>

    <ion-row  align-items-center>
      <div class="block-item" *ngIf="hasPermission('home/leader/mailbox')" (click)="goToPage('app-home-principal-email')">
        <ion-row class="item-image primary" justify-content-center align-items-center>
          <!-- <ion-icon name="contact" color="white"></ion-icon> -->
          <img alt="花" style="width:100%;height:100%;" src="assets/image/home/index/mailbox.png" />
        </ion-row>
        <div class="item-text">园长信箱</div>
      </div>
      <div class="block-item" *ngIf="hasPermission('home/leader/note')"  (click)="goToPage('app-home-announcement')">
        <ion-row class="item-image primary" justify-content-center align-items-center>
          <!-- <ion-icon name="contact" color="white"></ion-icon> -->
          <img alt="花" style="width:100%;height:100%;" src="assets/image/home/index/announcement.png" />
        </ion-row>
        <div class="item-text">通知公告</div>
      </div>
      <div class="block-item" *ngIf="hasPermission('home/leader/audit')"  (click)="goToPage('app-home-approval-page')">
        <ion-row class="item-image primary" justify-content-center align-items-center>
          <!-- <ion-icon name="contact" color="white"></ion-icon> -->
          <img alt="花" style="width:100%;height:100%;" src="assets/image/home/index/approval.png" />
        </ion-row>
        <div class="item-text">审批</div>
      </div>
    </ion-row>
  </div>

  <!-- 幼儿管理 -->
  <div class="detail-block">
    <div class="block-title">幼儿管理</div>

    <ion-row align-items-center>
      <div class="block-item" *ngIf="hasPermission('home/child/class')"  (click)="goToPage('app-home-classManage')">
        <ion-row class="item-image primary" justify-content-center align-items-center>
          <!-- <ion-icon name="contact" color="white"></ion-icon> -->
          <img alt="花" style="width:100%;height:100%;" src="assets/image/home/index/class_manage.png" />
        </ion-row>
        <div class="item-text">班级管理</div>
      </div>
      <div class="block-item" *ngIf="hasPermission('home/child/check')"  (click)="goToPage('app-home-childCheckOnManage')">
        <ion-row class="item-image primary" justify-content-center align-items-center>
          <!-- <ion-icon name="contact" color="white"></ion-icon> -->
          <img alt="花" style="width:100%;height:100%;" src="assets/image/home/index/checkIn.png" />
        </ion-row>
        <div class="item-text">幼儿考勤</div>
      </div>
      <div class="block-item" *ngIf="hasPermission('home/child/time')" >
        <ion-row class="item-image primary" justify-content-center align-items-center>
          <!-- <ion-icon name="contact" color="white"></ion-icon> -->
          <img alt="花" style="width:100%;height:100%;" src="assets/image/home/index/timeline.png" />
        </ion-row>
        <div class="item-text">时光轴</div>
      </div>
    </ion-row>
  </div>

  <!-- 个人小助理 -->
  <div class="detail-block">
    <div class="block-title">个人小助理</div>

    <ion-row align-items-center>
      <div class="block-item" *ngIf="hasPermission('home/helper/salary')"  (click)="goToPage('app-home-salary')">
        <ion-row class="item-image primary" justify-content-center align-items-center>
          <!-- <ion-icon name="contact" color="white"></ion-icon> -->
          <img alt="花" style="width:100%;height:100%;" src="assets/image/home/index/salary.png" />
        </ion-row>
        <div class="item-text">工资查询</div>
      </div>
      <div class="block-item"  *ngIf="hasPermission('home/helper/card')" (click)="goToPage('app-home-checkIn')">
        <ion-row class="item-image primary" justify-content-center align-items-center>
          <!-- <ion-icon name="contact" color="white"></ion-icon> -->
          <img alt="花" style="width:100%;height:100%;" src="assets/image/home/index/checkIn.png" />
        </ion-row>
        <div class="item-text">考勤打卡</div>
      </div>
      <div class="block-item"  *ngIf="hasPermission('home/helper/schedule')" (click)="goToPage('app-home-scheduleSetting')">
        <ion-row class="item-image primary" justify-content-center align-items-center>
          <!-- <ion-icon name="contact" color="white"></ion-icon> -->
          <img alt="花" style="width:100%;height:100%;" src="assets/image/home/index/schedule.png" />
        </ion-row>
        <div class="item-text">日程安排</div>
      </div>
    </ion-row>
  </div>


</ion-content>