@import "../../../theme/variables.scss";

.page-change-password-view{
    background: $color-background;
    ion-list{
        background: #fff;
        margin: 15px 0;
    }
    .change-password-title{
        margin: 15px 20px;
        span{
            color: $color-text;
        }}
    .change-password-tip{
        margin: 15px 20px;
        span{
            color: $color-text;
            &.forget-password{
                color: $color-primary;
            }
        }
    }
    .bottom-button{
        padding: 0 10px;
        width: 100%;
    }

    
}