@import "../../../../theme/variables.scss";
.student-content{
    ion-col {
        flex: 0 0 50%;
        max-width: 50%;
    }

    background: $color-light;
    .student-item {
        height: 180px;
        background: #fff;

        .student-detail{
            display: block;
            overflow: hidden;
            line-height: 20px;
            height: 20px;
            text-align: center;

            &.photo {
             height: 100px;   
            }img{
                margin-top: 20px;
                border-radius: 30px;
                // background: #08f8f5;
                width: 60px;;
                height: 60px;
            }

            &.class-name{
                font-size: 16px;
                line-height: 24px;
                height: 24px;
            }
            &.status.unnormal, .status-description.unnormal{
                font-size: 14px;
                line-height: 18px;
                color: $color-danger;
            }

            &.status.normal, .status-description.unnormal{
                font-size: 14px;
                line-height: 18px;
                color: $color-secondary;
            }
        }
    }
}