@import "../../../../theme/variables.scss";

.schedule-setting-page {
    background: $color-light;

    .schedule-content{
        display: block;
        overflow: hidden;
        

        >p.label-tip{
            line-height: 40px;
            height: 40px;
            padding: 0 16px;
            color: $color-text;
        }
        >div{
            padding: 16px;
            background: #fff;
            
            &.schedule-item{
                display: block;
                overflow:hidden;
                width: 100%;
                height: 92px;
                overflow: hidden;
                border-bottom: 1px solid $color-border;

                &:nth-last-child(1){
                    border-bottom: none;
                }

                
                .schedule-time, .schedule-detail{
                    display: inline-block;
                    float: left;
                }
                .schedule-time{
                    width: 30%;
                    font-size: 30px;
                    line-height: 60px;
                    font-weight: bolder;
                }
                .schedule-detail{
                    width: 70%;
                    line-height: 60px;
                }
            }
            &.blank{
                height: 92px;
                line-height: 60px;
                text-align: center;
                color: $color-text;
            }
        }

    }
}
