<ion-header>
  <ion-navbar>
    <ion-title center>
      日程安排
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToPage('app-home-newSchedule')">
        <ion-icon name="add" color="text"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="schedule-setting-page" color="background">

    <week-switch (dateChange)="dateChange($event)"></week-switch>
 

  <div class="schedule-content" *ngIf="isToday">
    <p class="label-tip">
      您今天需要做：
    </p>
    <div class="schedule-item" *ngFor="let item of list.today" (click)="goToPage('app-home-scheduleDetail', item.id)">
      <div class="schedule-time">
        <time>{{item.time}}</time>
      </div>
      <div class="schedule-detail">
        <span>{{item.scheduleTitle}}</span>
      </div>

    </div>
    <div class="blank" *ngIf="list.today.length === 0">
      <p>您还没有添加任何日程</p>
    </div>
  </div>

  <div class="schedule-content" *ngIf="isToday">
    <p class="label-tip">
      您明天需要做：
    </p>
    <div class="schedule-item" *ngFor="let item of list.tomorrow" (click)="goToPage('app-home-scheduleDetail', item.id)">
      <div class="schedule-time">
        <time>{{item.time}}</time>
      </div>
      <div class="schedule-detail">
        <p>{{item.scheduleTitle}}</p>
      </div>
    </div>

    <div class="blank" *ngIf="list.tomorrow.length === 0">
      <p>您还没有添加任何日程</p>
    </div>
  </div>


  <div class="schedule-content" *ngIf="!isToday">
      <p class="label-tip">
        您需要做：
      </p>
      <div class="schedule-item" *ngFor="let item of list.other" (click)="goToPage('app-home-scheduleDetail', item.id)">
        <div class="schedule-time">
          <time>{{item.time}}</time>
        </div>
        <div class="schedule-detail">
          <p>{{item.scheduleTitle}}</p>
        </div>
      </div>
  
      <div class="blank" *ngIf="list.other.length === 0">
        <p>您还没有添加任何日程</p>
      </div>
    </div>
</ion-content>