<ion-content class="dynamic-page" (click)="closeCommentArea()">
  <!-- <div style="display: flex; align-items: center;vertical-align: middle;height: 100%;text-align:center;">
    <p style="display:block;width:100%;">努力开发中......</p>
  </div> -->
  <div class="dynamic-header">
    <div class="header-image">
        <!-- <img  src="assets/image/moment/header.jpg"/>  -->
    </div>
      <div class="new-moment" (click)="goToNewMoment()">
          <ion-icon name="camera"></ion-icon>
      </div>
      <div class="user-info">
        <img onerror="this.src='assets/imgs/img-default.png'"  src="{{user.photo}}" /> 
        <span>{{user.name}}</span>
      </div>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>

  <div class="dynamic-body">
    <div class="moment-item" *ngFor="let contact of list">
      <div class="image-area">
          <img onerror="this.src='assets/imgs/image-default.png'"  src="{{contact.photo}}" /> 
      </div>
      <div class="moment-content">
        <p>{{contact.name}}</p>
        <span>{{contact.content}}</span>
        <div class="photo-area">
          <div class="photo" *ngFor="let picture of contact.pictures">
              <img onerror="this.src='assets/imgs/img-default.png'"  src="{{picture}}" /> 
          </div>
        </div>
        <div class="moment-footer">
          <time>{{contact.timeString}}</time>
          <div class="operators">
              <ion-icon (click)="toggleLike(contact);" name="heart"></ion-icon>
              <ion-icon (click)="openComment(contact, $event)" name="chatboxes"></ion-icon>
              <ion-icon *ngIf="contact.isSelf" name="trash"></ion-icon>
          </div>
        </div>
        <div class="comment-area" *ngIf="contact.likes.length > 0 || contact.comments.length > 0">
          <div class="great" *ngIf="contact.likes.length > 0">
              <ion-icon name="heart"></ion-icon>
              <span *ngFor="let item of contact.likes">{{item.name}}</span>
          </div>
          <div class="comment" *ngIf="contact.comments.length > 0">
            <p *ngFor="let item of contact.comments"><span>{{item.name}}</span>{{item.content}}</p>
          </div>
        </div>
      </div>
    </div>

    

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </div>


</ion-content>
<div class="comment-fixed-area" *ngIf="showCommentArea">
    <ion-input #input clearInput [(ngModel)]="currentMomentComment.content" placeholder="评论点什么吧..." ></ion-input>
    <ion-buttons end>
        <button ion-button (click)="saveComment()" color="background" >
          发送
        </button>
      </ion-buttons>
</div>
