.page-forget-password-view{


    ion-list {
        padding: 30px;
        margin-bottom: 0;

        ion-item {
            margin-bottom: 20px;
            border: 1px solid $color-grey !important;
            box-shadow: none !important;
            .item-inner {
              border:none !important;
              box-shadow: none !important;
      
              ion-icon {
                color: $color-primary;
              }
            }
            &.input-has-focus {
              border-color: $color-primary !important;
            }
          }

        .valid-code {
            position: relative;
            ion-item {
                margin-right: 120px;
                width: auto;
                
            }
            .opt-get {
                position: absolute;
                right: 0;
                top: 0;
                width: 100px;
                height: 53px;
                line-height: 53px;
                text-align: center;
                color: $color-white;
                background:$color-primary;
                border-radius: 2px;
                cursor: pointer;
            }
        }

    }

    .bottom-button{
        padding: 0 30px;
        width: 100%;
        height: 50px;
    }


}
