.page-forget-password-view{


    ion-list {
        padding: 30px;
        margin-bottom: 0;

        ion-item {
            margin-bottom: 20px;
            border: 1px solid $color-grey !important;
            box-shadow: none !important;
            .item-inner {
              border:none !important;
              box-shadow: none !important;
      
              ion-icon {
                color: $color-primary;
              }
            }
            &.input-has-focus {
              border-color: $color-primary !important;
            }
          }

        .valid-code {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            ion-item.opt-input {
                margin-right: 10px;
                flex:1;    
            }
            ion-item.opt-get {
                padding: 0 5px;
                width: 100px;
                text-align: center;
                color: $color-white;
                background:$color-primary;
                border-radius: 2px;
                cursor: pointer;
                border: none !important;
                .item-inner {
                    padding: 0;

                    ion-label {
                        margin: 0;
                    }
                }
            }
        }

    }

    .bottom-button{
        padding: 0 30px;
        width: 100%;
        .button-md {
            height: 50px;
        }
    }


}
